<div class="wrapper" *ngIf="item">
  <ng-container *ngIf="item.volumeInfo?.imageLinks?.smallThumbnail; else noCover">
    <img [src]=item.volumeInfo?.imageLinks?.smallThumbnail height="90">
  </ng-container>
  <ng-template #noCover>
    <div class="no-cover"></div>
  </ng-template>
  <div class="info">
    <div>
      <div class="title">
        <span class="title__text" (click)="openUrl(item.accessInfo?.webReaderLink)">{{item.volumeInfo?.title}}</span>
      </div>
      <div class="authors">
        {{item.volumeInfo?.authors}}
      </div>
    </div>
    <div class="publisher">
  <span class="publisher__date">
    {{item.volumeInfo?.publishedDate | date:'dd MMMM yyyy'}}г.
  </span>
      <span class="publisher__name">
    {{item.volumeInfo?.publisher}}
  </span>
    </div>
  </div>
  <div class="action-button">
    <ng-container *ngIf="item.saleInfo?.retailPrice?.amount; else notSell">
      <button pButton type="button" class="retail-button"
              [label]="retailButtonText(item.saleInfo?.retailPrice?.amount)"
              (click)="openUrl(item.saleInfo?.buyLink)">
      </button>
    </ng-container>
    <ng-template #notSell>
      <button pButton type="button" class="retail-button"
              label="Нет в продаже" [disabled]="true">
      </button>
    </ng-template>
  </div>
  <div class="action-button">
    <p-button class="ui-button-secondary" label="&#8195;В избранное" icon="pi pi-thumbs-up"></p-button>
  </div>
</div>
